@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: #8563EB;
    --cor1: #6148AB;
    --cor2: #59429D;
    --cor3: #4B3885;
    --cor4: #35285E;

    --fonte-comum: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Fredoka One', cursive;
    --fonte-destaque: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    min-height: 20vh;
    background-image: url(../imagens/ragni-header.png);
    background-position: center center;
    background-size: cover;
    /**radial-gradient(var(--cor0), var(--cor4));**/
    font-family: var(--fonte-titulo);
    padding-top: 20px;
    padding: 20px 10px;
    font-size: 3.5vh;
    text-align: center;
    font-variant: small-caps;
    color: white;
    
}

header > h1#logo {
    display: block;
    width: 500;
    height: 15vh;
    background-image: url(../imagens/guardian-of-wynn.png);
    background-size: cover;
    background-position: center center;

    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.456);
    padding: 0px;
    margin: 0px;

}
header > p {
    margin: 0px;
    padding: 0px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.456);
}
nav {
    min-height: 20px;
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: var(--fonte-titulo);
    padding: 5px 10px;
    background-color: var(--cor1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.352);
    border-radius: 4px;
    margin: 10px 10px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: white;
    
}

body {
    background-color: #35285E;
    background-image: url(../imagens/portao-fruma.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

main {
    min-height: 90vh;
    max-width: 1200px;
    min-width: 500px;
    background-image: url(../imagens/warrior-direita.png);
    background-position: right bottom;
    background-size: cover;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    padding: 20px 30px;
}

section#historia     {
    min-width: 200px;
    max-width: 450px;
    min-height: 500px;
    text-align: justify;
    background-color: rgba(211, 211, 211, 0.766);
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.488);
    margin-top: 20px;
   
}
section h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.501);
    font-variant: small-caps;
    padding: 10px 30px;
    margin: 0px -20px;
    color: white;
    background-color: var(--cor3);
    border-radius: 10px 10px 0px 0px;
    
}

#historia p {
    font-family: var(--fonte-destaque);
    padding: 10px 0px;
    color: black;
    text-indent: 20px;
     
}

#historia span {
    text-align: center;
}

#historia a {
    color: var(--cor2);
    text-decoration: none;
}

#historia a:hover {
    color: var(--cor4);
    text-decoration: underline;
} 

#historia h2 {
    background-color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    color: white;
    padding: 5px;
    margin: 0px -20px;
    text-align: center;
}

footer {
    min-height: 20px;
    padding: 5px 0px;
    background-color: black;
    color:  white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}