@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: #919191;
    --cor1: #8C8C8C;
    --cor2: #4D4D4D;
    --cor3: #333333;
    --cor4: #000000;

    --fonte-comum: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Fredoka One', cursive;
    --fonte-destaque: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: black;
    background-image: url(../imagens/bg_bw.webp);
    background-size: 50px 50px;
    /**
    background-attachment: fixed;
    background-size: cover;
    **/
    background-position: center center;
}

header {
    background-color: var(--cor4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header a {
    text-decoration: none;
    display: block;
    background-color: var(--cor3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.352);
    border-radius: 4px;
    margin: 5px 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: var(--fonte-titulo);
    
}


.menu {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 10px;
 }



nav li > a:hover {
    background-color: var(--cor2);
    color: white;

 }

 main#guild {
    min-height: 82vh;
    max-width: 1100px;
    min-width: 600px;
    background-image: url(../imagens/warrior-direita.png);
    background-position: right bottom;
    background-size: cover;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    padding: 20px 30px;
}

#historia {
    min-width: 200px;
    max-width: 400px;
    min-height: 500px;
    text-align: justify;
    background-color: rgba(211, 211, 211, 0.766);
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.488);
    margin-top: 20px;
   
}
#historia h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.501);
    font-variant: small-caps;
    padding: 10px 30px;
    margin: 0px -20px;
    color: white;
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    
}

#historia p {
    font-family: var(--fonte-destaque);
    padding: 10px 0px;
    color: black;
    text-indent: 20px;
     
}

#historia a {
    color: var(--cor2);
    text-decoration: none;
}

#historia a:hover {
    color: var(--cor4);
    text-decoration: underline;
} 

#historia h2 {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    color: white;
    padding: 5px;
    margin: 10px -20px;
    text-align: center;
}

footer {
    min-height: 20px;
    padding: 5px 0px;
    background-color: black;
    color:  white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}